.App {
  text-align: left;
  margin: 3% 5% 7% 5%;
}

.App button {
  color: red;
  border-radius: 0%;
  border: solid 1px red;
  background-color: white;
  margin: 20px auto;
  padding: 5px;
  font-weight: bold;
}
